.root {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 512px;
  height: min-content;
  justify-content: center;
}
.content {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.loadingCircle {
  width: 32px;
  height: 32px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.text {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
