._ButtonGroupBase._ButtonGroupBase {
  left: 15px;
  top: 53px;
  height: 42px;
  align-items: center;
  border-radius: 30px;
}
.arrowLeft.arrowLeft {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.fileUpload.fileUpload {
  left: 10px;
  top: 177px;
  width: 355px;
}
.text {
  color: #6941c6;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.text2 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText {
  color: #475467;
  font-size: 12px;
  line-height: 18px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.text3 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.supportingText2 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.text4 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.supportingText3 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.button.button {
  left: 15px;
  top: 761px;
  width: 360px;
  background-color: #4e5ba6;
}
.text5 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fdfdfd;
  overflow: hidden;
}
.hocSinhChupBaiLamQuayVideoCuaM {
  color: #181818;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16px;
  top: 120px;
  width: 343px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.barsHomeIndicatorIPhoneLightPo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle30 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 34px;
  background-color: #fdfdfd;
}
.homeIndicator {
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #181818;
  transform: translateX(-50%);
}
.barsStatusBarIPhoneLight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle29 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 44px;
  background-color: #fdfdfd;
  box-shadow: 0px 1px 2px 0px #00000017;
}
.battery {
  position: absolute;
  left: 349.7867px;
  top: 17.3333px;
  width: 25.3012px;
  height: 11.3333px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.wifi {
  position: absolute;
  left: 328.64px;
  top: 17.3307px;
  width: 15.9466px;
  height: 11px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.cellularConnection {
  position: absolute;
  left: 305.76px;
  top: 17.6667px;
  width: 17.68px;
  height: 10.6667px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.timeStyle {
  position: absolute;
  left: 5.6%;
  right: 80%;
  top: 15.9091%;
  bottom: 36.3636%;
  flex-direction: column;
  align-items: flex-start;
}
.time {
  color: #000;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - -5.5px);
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
