.latestNews2.latestNews2 {
  position: absolute;
  left: 22px;
  top: 488px;
  width: 358px;
  overflow: hidden;
}
.howToWorkOutAPercentageUsingAC {
  position: absolute;
  left: 43.7681%;
  right: 0%;
  top: 49.1304%;
  bottom: 31.7391%;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
._24August2020 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.8551%;
  right: 38.1338%;
  top: 63.6957%;
  bottom: 31.9565%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
.vishwarajsinhRana_1fByLYHA_0Un.vishwarajsinhRana_1fByLYHA_0Un {
  background-color: #dcd7d7;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: auto;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup4.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup4.svg');
  -webkit-mask-size: 144.23768615722656px 114px;
  mask-size: 144.23768615722656px 114px;
}
.mathematics {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 42.5447%;
  top: 43.6957%;
  bottom: 51.9565%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.howToWorkOutAPercentageUsingAC2 {
  position: absolute;
  left: 43.1884%;
  right: 0.5797%;
  top: 80.6522%;
  bottom: 5%;
  height: min-content;
  flex-direction: column;
}
.textBlock4 {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
._24August20202 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.2754%;
  right: 38.9928%;
  top: 95.2174%;
  bottom: 0.4348%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vishwarajsinhRana_1fByLYHA_0Un2.vishwarajsinhRana_1fByLYHA_0Un2 {
  background-color: #493131;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: auto;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup5.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup5.svg');
  -webkit-mask-size: 144.23768615722656px 114px;
  mask-size: 144.23768615722656px 114px;
}
.mathematics2 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.1884%;
  right: 42.8451%;
  top: 75.2174%;
  bottom: 20.4348%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.theEffectsOfTemperatureOnEnzym {
  position: absolute;
  left: 43.7681%;
  right: 0%;
  top: 17.3913%;
  bottom: 73.0435%;
  flex-direction: column;
}
.textBlock7 {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
._1HourAgo {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.8551%;
  right: 36.1784%;
  top: 32.6087%;
  bottom: 63.0435%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.nationalCancerInstituteL7en7Lb.nationalCancerInstituteL7en7Lb {
  background-color: #eaecf0;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: auto;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup6.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup6.svg');
  -webkit-mask-position: 8.301448822021484px 21px;
  mask-position: 8.301448822021484px 21px;
  -webkit-mask-size: 144.23768615722656px 114px;
  mask-size: 144.23768615722656px 114px;
}
.biology {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 42.2654%;
  top: 11.9565%;
  bottom: 83.6957%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.latestNews {
  color: #181818;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.5797%;
  right: 71.7667%;
  top: 0;
  bottom: 94.7826%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.seeAll {
  color: #4f4f4f;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 82.8403%;
  right: 0.1206%;
  top: 0.4348%;
  bottom: 94.7826%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fdfdfd;
  overflow-y: auto;
  overflow-x: hidden;
}
.rectangle33 {
  position: absolute;
  left: 10px;
  top: 140px;
  width: 367px;
  height: 54px;
  outline: solid 1px #e0e0e0;
  outline-offset: -1px;
  border-radius: 6px;
  background-color: #f2f2f2;
}
.antDesignSearchOutlined {
  position: absolute;
  left: 25.2493px;
  top: 155px;
  width: 24.3989px;
  height: 24px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.timKiem {
  color: #4f4f4f;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61.8476px;
  top: 156px;
  width: 52.8643px;
  height: min-content;
  flex-direction: column;
}
.xinChaoSamuel {
  color: #181818;
  font-size: 24px;
  line-height: 32px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10px;
  top: 59px;
  width: 208.6443px;
  height: min-content;
  flex-direction: column;
}
.homNayBanMuonLamGi {
  color: #888;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10px;
  top: 98px;
  width: 184.035px;
  height: min-content;
  flex-direction: column;
}
.clarityNotificationSolidBadged {
  position: absolute;
  left: 351.3209px;
  top: 59px;
  width: 25.6793px;
  height: 24px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.recentLearning {
  position: absolute;
  left: 10px;
  top: 204px;
  width: 370px;
  height: 227px;
  flex-direction: column;
  align-items: flex-start;
}
.cacLopHocAngHoatOng {
  color: #181818;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 49.4595%;
  top: 0;
  bottom: 89.4273%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle34 {
  position: absolute;
  left: 0;
  right: 51.3514%;
  top: 17.1806%;
  bottom: 0;
  outline: solid 1px #e0e0e0;
  outline-offset: -1px;
  border-radius: 6px;
  background-color: #fdfdfd;
}
.nguVan6 {
  color: #181818;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1.3514%;
  right: 82.4324%;
  top: 55.9471%;
  bottom: 35.2423%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._525 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41.3514%;
  right: 52.7027%;
  top: 87.2247%;
  bottom: 3.9648%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.lop6A1 {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1.3514%;
  right: 52.7027%;
  top: 66.9604%;
  bottom: 23.348%;
  height: min-content;
  flex-direction: column;
}
.rectangle57 {
  position: absolute;
  left: 0;
  right: 51.3514%;
  top: 17.1806%;
  bottom: 46.2555%;
  border-radius: 6px 6px 0 0;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle57.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.rectangle48 {
  position: absolute;
  left: 1.3514%;
  right: 62.4324%;
  top: 90.7489%;
  bottom: 6.6079%;
  border-radius: 10px;
  background-color: #8da6f4;
}
.rectangle49 {
  position: absolute;
  left: 1.3514%;
  right: 84.8649%;
  top: 90.7489%;
  bottom: 6.6079%;
  border-radius: 10px;
  background-color: #4e5ba6;
}
.rectangle46 {
  position: absolute;
  left: 51.3514%;
  right: 0;
  top: 17.1806%;
  bottom: 0;
  outline: solid 1px #e0e0e0;
  outline-offset: -1px;
  border-radius: 6px;
  background-color: #fdfdfd;
}
.nguVan7 {
  color: #181818;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 52.7027%;
  right: 34.0541%;
  top: 55.9471%;
  bottom: 35.2423%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2430 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 90.8108%;
  right: 1.3514%;
  top: 87.2247%;
  bottom: 3.9648%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.lop7A2 {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 52.7027%;
  right: 1.3514%;
  top: 66.9604%;
  bottom: 23.348%;
  height: min-content;
  flex-direction: column;
}
.rectangle482 {
  position: absolute;
  left: 52.7027%;
  right: 11.0811%;
  top: 90.7489%;
  bottom: 6.6079%;
  border-radius: 10px;
  background-color: #8da6f4;
}
.rectangle492 {
  position: absolute;
  left: 52.7027%;
  right: 18.9189%;
  top: 90.7489%;
  bottom: 6.6079%;
  border-radius: 10px;
  background-color: #4e5ba6;
}
.rectangle572 {
  position: absolute;
  left: 51.3514%;
  right: 0;
  top: 17.1806%;
  bottom: 46.2555%;
  border-radius: 6px 6px 0 0;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle572.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.barsStatusBarIPhoneLight {
  position: absolute;
  left: 2px;
  right: -2px;
  top: -3px;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}
.rectangle29 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 44px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px #00000017;
}
.battery {
  position: absolute;
  left: 349.7867px;
  top: 17.3333px;
  width: 25.3012px;
  height: 11.3333px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.wifi {
  position: absolute;
  left: 328.64px;
  top: 17.3307px;
  width: 15.9466px;
  height: 11px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.cellularConnection {
  position: absolute;
  left: 305.76px;
  top: 17.6667px;
  width: 17.68px;
  height: 10.6667px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.timeStyle {
  position: absolute;
  left: 2.0513%;
  right: 86.6667%;
  top: 31.8182%;
  bottom: 20.4545%;
  flex-direction: column;
  align-items: flex-start;
}
.time {
  color: #000;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - -5.5px);
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle39 {
  position: absolute;
  left: calc(50% - 0.5px);
  bottom: 34px;
  width: 375px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.rectangle332 {
  position: absolute;
  left: calc(50% - 125.5px);
  bottom: 34px;
  width: 125px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.rectangle38 {
  position: absolute;
  left: calc(50% - 125.5px);
  bottom: 49px;
  width: 93px;
  height: 38px;
  border-radius: 4px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.trangChu {
  color: #4c6ed7;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 99.5px);
  bottom: 55px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.jamHomeF {
  position: absolute;
  left: calc(50% - 145px);
  bottom: 55px;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
}
.icon10 {
  width: 100%;
  height: 100%;
}
.rectangle342 {
  position: absolute;
  left: calc(50% - 0.5px);
  bottom: 34px;
  width: 125px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.clarityBookLine {
  position: absolute;
  left: 50%;
  bottom: 56px;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
}
.icon11 {
  width: 100%;
  height: 100%;
}
.rectangle35 {
  position: absolute;
  left: calc(50% - -124.5px);
  bottom: 34px;
  width: 125px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.icOutlineAccountCircle {
  position: absolute;
  left: calc(50% - -125px);
  bottom: 56px;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
}
.icon12 {
  width: 100%;
  height: 100%;
}
.barsHomeIndicatorIPhoneLightPo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle30 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 34px;
  background-color: #fdfdfd;
}
.homeIndicator {
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #181818;
  transform: translateX(-50%);
}
.button {
  position: absolute;
  left: 315px;
  top: 680px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 30px;
  background-color: #4e5ba6;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
}
